@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: heroLegend;
  src: url(./fonts/Heroes\ Legend.ttf);
}

body {
  font-family: heroLegend;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

h1 {
}
