@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "MangaTB";
  src: url("./fonts/mangatb.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: heroLegend;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

h1 {
}
