@import "tailwindcss";
@import "aos/dist/aos.css";

/* Custom font */
@font-face {
  font-family: "MangaTB";
  src: url("./fonts/mangatb.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Dark mode variables */
:root {
  --bg: 255 255 255;
  --fg: 10 10 14;
}

.dark {
  --bg: 7 8 12;
  --fg: 238 238 248;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
